<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <servlet>
    <servlet-name>Third</servlet-name>
    <servlet-class>com.clouway.link.trace.ThirdPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RequestTracer</servlet-name>
    <servlet-class>com.clouway.link.trace.RequestTracer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTracer</servlet-name>
    <url-pattern>/tracer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.clouway.link.trace.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
</web-app>